<div class="table-container">
  <table class="custom-table">
    <thead>
    <tr>
      <th *ngIf="!own">Owner</th>
      <th>Start Date</th>
      <th>Expire Date</th>
      <th>Type</th>
      <th>Serial Number</th>
      <th *ngIf="own">Download</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let certificate of certificates">
      <td *ngIf="!own">{{ certificate.ownerInfo.name + ' ' + certificate.ownerInfo.surname }}</td>
      <td>{{ certificate.startDate | date: 'dd.MM.yyyy HH:mm' }}</td>
      <td>{{ certificate.expireDate | date: 'dd.MM.yyyy HH:mm' }}</td>
      <td>{{ certificate.type }}</td>
      <td>{{ certificate.serialNumber }}</td>
      <td *ngIf="own" (click)="downloadCertificate(certificate)" class="dark-color ">Download</td>
    </tr>
    </tbody>
  </table>
</div>
